*{
    margin: 0px;
    padding: 0;
    font-family: 'Alexandria', sans-serif;
    font-family: 'Poppins', sans-serif;

}

body{
    /* margin: 30px; */
   
    /* margin-left: -20px; */

}
.page-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('./Assets/Photos/futuristic-bg.png');
    /* background-position: left 100px center; */
    background-position: top 5px center;
    background-position: bottom 80px center;
    opacity: 1;
    /* object-fit: 90%; */
    
   
    
}

.section-1{
    
    display: flex;
    flex-direction: row;
    color: #ffffff;
    justify-content: space-around;
    position: relative;
    
    /* gap: 100px; */
    /* margin: 30px; */
    
}
.logo{
    margin: 40px;
}

.list1, .list2{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 50px;
    justify-content: space-around;
    cursor: pointer;
    margin: 40px;
}

.list1{
    position: relative;
    left: -300px;
    top: 10px;
    font-weight: 500px;
    font-size: 17px;
}

.btn-1{
    background-color: transparent;
    color: #ffffff;
    font-size: 17px;
}

.btn-1:hover{
    cursor: pointer;
}

.btn-2{
    background-color: #F4694C;
    color: #ffffff;
    width: 150px;
    padding: 15px;
    position: relative;
    bottom: 10px;
    font-weight: 500px;
    font-size: 17px;
    
}

.btn-2:hover{
    cursor: pointer;
}

.section-2{
    display: flex;
    flex-direction: row;
    color:#ffffff;
    margin: 200px;
    position: relative;
    top: 20px;
    gap: 300px;

}

.section-left-2{
    
    margin: 20px;
}

.para-1{
    font-size: 70px;
    font-weight: 700;
    width: 750px;
    margin-bottom: 10px;
}

.section2-para-2{
    font-size: 20px;
    margin-bottom: 50px;
    width: 700px;
}

.btn-3{
    background-color: #F4694C;
    color: #ffffff;
    width: 200px;
    padding: 18px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    /* bottom: 10px; */
    font-weight: 500px;
    font-size: 20px;
}
        
.btn-4{
    background-color: transparent;
    color: #ffffff;
    font-size: 17px;
    border: 2px solid #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 500px;
    font-size: 20px;
}
.login-button{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.section-right-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 400px;

}
.section-right-down{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.play{
    position: relative;
    top: 130px;
    right: 50px;
    height: 100px;
}

.section2-para-right-2{
    width: 250px;
    font-size: 25px;
    position: relative;
    bottom: 80px;
}

.dash{
    position: relative;
    bottom: 120px;
}

.right-arrow{
    position: relative;
    top: 10px;
    left: 50px;
    height: 20px;
}

.page-2{
    height: 100vh;
    background-color: #ffffff;
}

.card1{
    
    display: flex;
    flex-direction: column;
    /* width: 400px; */
    /* gap: 500px; */
}

.card1-left{
    /* background-image: url('./Assets/Photos/image-2.png'); */
    height: 400px;
    width: 300px;
    /* overflow: hidden; */
    object-fit: fill;
    object-position: 20% 10%; 
    position: relative;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    
}

.soldier{
    height: 1000px;
    width: 800px;
    overflow: hidden;
    object-fit: cover;
    object-position: 65% 15%; 
    /* margin: 10px; */
    
}
.card1-details1{
    position: relative;
    bottom: 100px;
    height: 150px;
    width: 300px;
    backdrop-filter: blur(50px);
  /* -webkit-filter: blur(8px); */
    /* z-index: 5; */
    
}
.soldier-para1{
    position: relative;
    z-index: 1;
}
.soldier-para2{
    z-index: 1;
}

/* ############## */

/* .second{
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; 
}
.second-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    /* flex-wrap: wrap; 
}
.get{
    color: white;
    background-color: #F4694C;
    width: 20%;
    height: 70%;
    /* margin-left: 20px; 
    font-size: 19px;
}
.get:hover{
    color: #F4694C;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
}
.learn{
    color: white;
    /* width: 70px; 
    height: 70%;
    /* width: 15%; 
    width: 18%;
    border: 1px solid white;
    background:none;
    margin-left: 20px;
    font-size: 19px;
}
.learn:hover{
    color: #F4694C;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
}
.playbutton{
    position: relative;
    top: 190px;
    height: 50px;
    width: 50px;
    right: 220px;
    backdrop-filter: blur(8px);
    /* cursor: pointer; 
    z-index: 1;
    /* background-color: gray; 
}
.playbutton:hover{
    cursor: pointer;
    /* transform: scale(1.3); 
}
.king{
    /* position: relative;
    right: 90px; 
    margin-right: 110px;
    /* flex-grow: 20; 
}
.king-text{
    /* width: 30%; 
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.right-arrow{
    position: relative;
    top: -20px;
    left: 330px;
} */

/* 2nd div */
.second{
    background-color: white;
    /* padding-top: 40px; */
    padding-bottom: 30px;
    padding-left: 130px;
    padding-right: 120px;
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}
.second-text{
    color: black;
    text-align: center;
    align-self: center;
    font-size: 50px;
    font-weight: 700;
    padding-inline: 50px;
    width: 50%;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-top: 70px;
    /* flex-wrap: wrap; */
}
.card-1{
    height: 300px;
    width: 22%;
    margin-right: 10px;
}
.card-1:hover{
    /* transform: scale(0.9);     */
}
.bgi-1{
    background-image: url(./assets/Photos/image-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat ;
}
.bgi-2{
    background-image: url(./assets/Photos/image\ 4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat ;
}
.bgi-3{
    background-image: url(./assets/Photos/image\ 3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat ;
}
.bgi-4{
    background-image: url(./assets/Photos/Rectangle\ 56.png);
    background-size: 100% 100%;
    background-repeat: no-repeat ;
}
.blur-div{
    position: relative;
    top: 77%;
    /* height: 100%; */
    /* width: 100%; */
    /* background:black; */
    /* -webkit-filter: blur(5px); */
    /* filter: blur(90%); */
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    /* flex-wrap: wrap; */
    padding:10px;
    padding-top: 0px;
    padding-bottom: 0px;
    /* margin-bottom: 20px; */
    width: 95%;
    height: 7vh;
}
.starsdiv{
    /* background-color: blue; */
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.heading-1{
    color: white;
    font-size: 15px;
    font-weight: 300;
    padding-top: 4px;
}
.genre-1{
    color: white;
    font-size: 12px;
    font-weight: 300; 
    padding-top: 5px;
    padding-bottom: 4px;   
}
.five-stars{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}
.download-1{
    background-color: #F4694C;
    color: white;
    height: 40px;
    width: 40%;
    /* margin-right: 12px; */
    /* justify-content:flex-start; */
}
.download-1:hover{
    cursor: pointer;
    /* transform: scale(1.1); */
    background-color: white;
    color: #F4694C;
}
.img-card-text{
    height: 450px;
    width: 60%;
}
.card-text{
    padding-top: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 45px;
    width: 100%; 
}
.text-text-buttons{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    width: 100%;
    margin-left: 40px;
    margin-right: 50px;
}
.war-text{
    color: black;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    width: 60%;
}
.best-epi-text{
    color: gray;
    font-size: 18px;
    font-weight: 400;
    width: 70%;
}
.buttons-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.learn-more{
    height: 60px;
    width: 20%;
    margin-left: 30px;
    border: 1px solid #F4694C;
    background-color: white;
    color: #F4694C;
    cursor: pointer;
    font-size: 18px;
}
.learn-more:hover{
    background-color: #F4694C;
    border: 2px solid #F4694C;
    font-weight: 700;
    font-size: 18px;
    color: white;
}
.explore:hover{
    background-color: white;
    color: #F4694C;
    border: 2px solid #F4694C;
    font-weight: 700;
    font-size: 18px;
}
.explore{    
    cursor: pointer;
    height: 60px;
    width: 20%;
    border: 1px solid #F4694C;
    background-color:#F4694C;
    color: white;
    font-size: 18px;
}
.text-buttons{
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.game{
    color: black;
    font-size: 45px;
    font-weight: 900;
    line-height: 1.4;
    width: 35%;
}
.btns-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.left-arrow-btn{
    margin-right: 20px;
    height: 70px;
    width: 70px;
    border: none;
    background-color: pink;
}
.left-arrow-btn:hover{    
    cursor: pointer;
    transform: scale(1.1);
}
.next-arrow-btn{
    /* margin-right: 20px; */
    background-color: #F4694C;
    height: 70px;
    width: 70px;
    border: none;
}
.next-arrow-btn:hover{
    cursor: pointer;
    transform: scale(1.1);    
}
.two-cards{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.heroes{
    height: 350px;
    width: 300px;
}
.heroes:hover{
    cursor: pointer;
    /* transform: scale(0.9); */
}
.card-text-2{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 50%;
}
.for-text{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    right: -50px;
    /* gap: 15px; */
}
.heading{
    color: black;
    font-size: 30px;
    font-weight: 600;
    width: 57%;
}
.genre{
    color: #F4694C;
    font-size: 14px;
    font-weight: 500;
}
.small-text{
    color: gray;
    width: 55%;
    font-size: 17px;
    font-weight: 400;
}
.download{
    color: white;
    background-color: #F4694C;
    cursor: pointer;
    border: none;
    font-size: 15px;
    width: 40%;
    height: 50px;
}
.download:hover{
    color: white;
    background-color: black;
    transform: scale(1.1);
}

.three-cards{
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 80px;
    padding-bottom: 40px;
    background-color: black;
}
.most{
    text-align: center;
    padding-inline: 650px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    width: 23%;
    
}
.noraml-text{
    color: white;
    font-weight: 45px;
    font-weight: 300;
}
.img-1-1-1{
    height:600px;
    width:35%;
}
.bigger-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* width: 150%; */
}
.text-2-imgs{
    margin-left: 150px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-around;
    /* width: 50%; */
}
.noraml-text{
    text-align: left;
    font-weight: 300;
    color: white;    
    width: 56%;
}
.second-img{
    margin-left: 10px;
    height:450px;
    width:350px;
    z-index: 2;
    position: relative;
    bottom: -100px;
}
.third-img{
    margin-top: 250px;
    margin-left: 150px;
    margin-right: 40px;
    height:300px;
    width:350px;
    z-index: 1;
}
.two-img-imgs{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}
.bg-image-game{
    width: 60%;
    position: absolute;
    top: 2780px;
    left: 630px;
    z-index: 0;
}
.the-big-img{
    height: 70vh;
    width: 90%;
    filter:brightness(20%);
    position: relative;
    right: -80px;
    bottom: -30px;
}
.big-img{
    background-color: black;
    padding-top: 90px;
}
.unf{
    color: white;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    /* position: absolute; */
    position: relative;
    top: -550px;
    left: 34%;
    /* height: 60%; */
    width: 30%;
}
.text-unf{
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: -520px;
    /* height: 50%; */
    width: 20%;
    /* position: absolute; */
    left: 820px;
    /* top: 20px; */
}
.download-5{
    color: white;
    background-color: #F4694C;
    /* height: 5%; */
    position: relative;
    top: -470px;
    left: 940px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #F4694C;
    /* width: 8%; */
}
.download-5:hover{
    cursor: pointer;
    color: #F4694C;
    background-color: white;
    transform: scale(1.1);
}
.footer{
    /* margin-top: -10px; */
    padding-left: 150px;
    padding-right: 120px;
    padding-top: 50px;
    padding-bottom: 200px;
    background-color: black;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;
}
.col-footer{
    /* padding-top:50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 30%;
    gap: 10px;
}
.last-text-1{
    font-size: 15px;
    font-weight: 300;
    color: #999A9D;
    width: 70%;
    /* padding-top: 0px; */
    padding-bottom: 20px;
    line-height: 2;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    position: relative;
    left: -10px;
    top: -20px;
}
.facebook:hover , .twitter:hover , .instagram:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.heading-last{
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}
.heading-last:hover{
    text-decoration: underline;
    transform: scale(0.9);
}
.last-text{
    color: #999A9D;
    font-weight: 200;
    font-size: 18px;
}

.line-new{
    width: 50%;
    height: 10px;
}