.App{
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: aliceblue;
  background-color: #020202;

}

button{
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 15px;
  background-color: #007bff;
  border: 1px solid #ffffff;
}