/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */
*{
    margin: 0;
    padding: 0;
   
    font-family: 'Orbitron', sans-serif;
    /* font-family: 'Poppins', sans-serif;
     font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    */
}

body{
    max-width: 1440px;
    background-color: #ffffff;
    margin: 3%;
}
/* Logo  */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav>div>img{
    position: relative;
    height: 55px;
    right: 100px;
    bottom: 35px;
}

nav ul{
    display: flex;
    gap: 80px;
    position: relative;
    left: 150px;
    bottom: 20px;
}

nav ul li{
    list-style-type: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
    
}
nav ul li:first-child{
    font-weight: 800;
    font-size: 30px;
    /* border: 2px solid; */
    /* position: relative; */
    width: 10%;
    /* display: block; */
    
}

.search-icon{
    position: relative;
    left: 450px;
    top: 5px;
}
 
button{
    position: relative;
    left: 500px;
    bottom: 40px;
    padding: 5px 55px;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #4a4a4a;
}

/* Hero Section  */
.hero-container{
    display: flex;
    align-items: center;
    align-content: center;
    height: 80vh;
}

.square{
    /* position: absolute; */
    left: 0;
    bottom: 100px;
}

div>img {
    position: absolute;
    left: 100px;
    bottom: 50px;
    
}
.globle{
    position: relative;
    left: 100px;
    bottom: 100px;

}