/* App.css */

body {
  font-family: Arial, sans-serif;
  /* transition:  0.3s, color 0.3s; */
}

.dashboard {
  padding: 20px;
}

.dashboard h1 {
  color: #333;
}

.dashboard p {
  color: #555;
}

.dashboard button {
  padding: 10px 20px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Dark theme styles */
.dark {
  background-color: #333;
  color: #fff;
}

.dark button {
  background-color: #fff;
  color: #333;
}
