body{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first{
    margin-top: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first2{
    height:100vh;
    width:100%;
}
.circle2{
    height: 30px;
    width:30px;
    border-radius: 40px;
    color:white;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
}
.button1{
    color: white;
    padding: 10px;
    border: 2px solid green;
    background-color: green;
    cursor: pointer;
    border-radius: 10px;
    height: 60px;
    font-weight: 600;
    font-size: 30px;
}
/* p{
    color: wheat;
} */
.button2{
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid red;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
    height: 60px;
    font-weight: 600;
    font-size: 30px;
}
.hello2{
    display: flex;
    flex-direction: row;
}
.hello{
    margin-left: 50px;
}
.hello1{
    color: white;
    /* background-color: cyan; */
    /* border-radius: 40px; */
    /* width: 30px;
    height: 30px; */
    /* text-align: center; */
    /* padding: 10px; */
    font-size: 60px;
    /* border: 1px solid; */
    position: absolute;
    left: 0;
    top: 0;
}
.button1:hover,.button2:hover{
    transform: scale(1.1);
}