
.container{
    
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items:  flex-start;
    justify-content: space-around;
}
/* .card{
    /* border: 20px solid black; 
       

   
    padding: 2px;
    width: 2px;
    height: auto
    
    
} */

img{
    height: 300px;
    width: 300px;
}